{% extends 'layout.html' %}
{% block content %}

        <section>
            <div class="container">
                <div class="entry-list single">

                    {% for entry in entries %}
                    {% if entry.title == title %}
                    <article>
                        <h1>Title: {{entry.title}}</h1>
                        <time datetime="{{ entry.date }}">Date: {{ entry.date }}</time>
                        <div class="entry">
                            <p>Time Spent: {{ entry.timeSpent }} </p>
                        </div>
                        <div class="entry">
                            <h3>What I Learned:</h3>
                            <p>{{ entry.whatILearned }}</p>

                        </div>
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <p> {{ entry.ResourcesToRemember }}</p>
                        </div>
                    </article>
                </div>

            </div>
            <div class="edit">
                <p><a href="{{ url_for('edit', title=entry.title) }}">Edit Entry</a></p>
                <p></p>
            </div>
            {% endif %}
                {% endfor %}
                {% endblock %}