
{% from 'macros.html' import render_field, render_date_field, render_text_field %}
{% extends 'layout.html' %}
{% block content %}
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>


                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                          <div>
                              {{ render_field(form.title) }}
                          </div>
                          <div>
                              {{ render_date_field(form.date) }}
                          </div>
                          <div>
                              {{ render_field(form.timeSpent) }}
                          </div>
                        <div>
                              {{ render_text_field(form.whatILearned) }}
                          </div>
                        <div>
                              {{ render_text_field(form.ResourcesToRemember) }}
                          </div>
                          <div>
                            <input type="submit" class="button-primary" value="Update Entry">
                              <p><a href="{{ url_for('delete', title=entry.title) }}">Delete Entry</a></p>
                          </div>
                        </form>
                    {% endblock %}
