<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
    {% block content %}

        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="new.html"><span>New Entry</span> <i class="material-icons">add</i></a>

                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="entry-list">
                    {% if entries.count() %}
                        {% for entry in entries %}
                        <article>
                            <h2><a href="{{ url_for('detail', title=entry.title) }}">{{entry.title}}</a></h2>
                            <h3>{{entry.date}}</h3>
                        </article>
                        {% endfor %}
                        {% else %}
                        <h2>There are no entries yet</h2>
                    {% endif %}
                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    {% endblock %}
    </body>
</html>