{% extends 'layout.html' %}
    {% block content %}
        <section>
            <div class="container">
                <div class="entry-list">
                    {% if entries.count() %}
                        {% for entry in entries %}
                        <article>
                            <h2><a href="{{ url_for('detail', title=entry.title) }}">{{entry.title}}</a></h2>
                            <h3>{{entry.date}}</h3>
                        </article>
                        {% endfor %}
                        {% else %}
                        <h2>There are no entries yet</h2>
                    {% endif %}
                </div>
            </div>
        </section>
        {% endblock %}